ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    margin: 20px;
    width: fit-content;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

img {
    border-radius: 5px;
    height: 500px;
}

.card li {
    list-style: none;
}

li.track {
    width: 200px;
}

